.DS_Store
.vscode*
.idea*
.git
.secrets
.env
.env.local
.env.development
.env.production
__pycache__
.pyc
.pyo
.pyd
.pyw
.pyz
.py3
.py3w
.py3z
*.lock
logs/
.vscode*
.mypy_cache/
dist/
build/
*.egg-info/
secrets/
.secrets/
